<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Spartan:wght@400;700&display=swap" rel="stylesheet">
    <title>Mercury</title>
</head>
<body>
  <script src="../static/script.js"></script>
    
      <header class="top-nav">
    <div class="logo">THE PLANETS</div>
    <nav class="planets-menu">
      <a href="#">MERCURY</a>
      <a href="venus.html" >VENUS</a>
      <a href="#">EARTH</a>
      <a href="#">MARS</a>
      <a href="#">JUPITER</a>
      <a href="#">SATURN</a>
      <a href="#">URANUS</a>
      <a href="#">NEPTUNE</a>
    </nav>
  </header>

  <main class="main-area">
    <div class="planet-layout">
      <div class="planet-pic">
        <img src="../../images/1 (1).png" id="planetImage" alt="Mercury Image">
        
      </div>
      <div class="planet-info">
        <h1>MERCURY</h1>
        <p id="planetDescription">Mercury is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun’s planets. Mercury is one of four terrestrial planets in the Solar System, and is a rocky body like Earth.</p>
        <p class="source">Source: <a href="" target="_blank">Wikipedia</a></p>

        <div class="tab-list">
          <button class="tab"><span>01</span> OVERVIEW</button>
          <button class="tab"><span>02</span> INTERNAL STRUCTURE</button>
          <button class="tab"><span>03</span> SURFACE GEOLOGY</button>
        </div>
      </div>
    </div>

    <div class="planet-stats">
      <div class="stat-box">
        <div class="stat-title">ROTATION TIME</div>
        <div class="stat-value">58.6 DAYS</div>
      </div>
      <div class="stat-box">
        <div class="stat-title">REVOLUTION TIME</div>
        <div class="stat-value">87.97 DAYS</div>
      </div>
      <div class="stat-box">
        <div class="stat-title">RADIUS</div>
        <div class="stat-value">2,439.7 KM</div>
      </div>
      <div class="stat-box">
        <div class="stat-title">AVERAGE TEMP.</div>
        <div class="stat-value">430°C</div>
      </div>
    </div>
  </main>
</body>
</html>