<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/venus.css' %}">
    <script src="script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Spartan:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
      <header class="top-nav">
    <div class="logo">THE PLANETS</div>
    <nav class="planets-menu">
      <a href="index.html">MERCURY</a>
      <a href="#">VENUS</a>
      <a href="#">EARTH</a>
      <a href="#">MARS</a>
      <a href="#">JUPITER</a>
      <a href="#">SATURN</a>
      <a href="#">URANUS</a>
      <a href="#">NEPTUNE</a>
    </nav>
  </header>

  <main class="main-area">
    <div class="planet-layout">
      <div class="planet-pic">
        <img src="2.png" alt="Venus Image">
      </div>
      <div class="planet-info">
        <h1>VENUS</h1>
        <p>Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the brightest natural object in Earth's night sky after the Moon, Venus can cast shadows and can be, on rare occasions, visible to the naked eye in broad daylight.</p>
        <p class="source">Source: <a href="" target="_blank">Wikipedia</a></p>

        <div class="tab-list">
         <button class="tab" id="overviewTab"><span>01</span> OVERVIEW</button>
         <button class="tab" id="structureTab"><span>02</span> INTERNAL STRUCTURE</button>
        <button class="tab" id="surfaceTab"><span>03</span> SURFACE GEOLOGY</button>
  </div>

      </div>
    </div>

    <div class="planet-stats">
      <div class="stat-box">
        <div class="stat-title">ROTATION TIME</div>
        <div class="stat-value">243 DAYS</div>
      </div>
      <div class="stat-box">
        <div class="stat-title">REVOLUTION TIME</div>
        <div class="stat-value">224.7 DAYS</div>
      </div>
      <div class="stat-box">
        <div class="stat-title">RADIUS</div>
        <div class="stat-value">6,051.8 KM</div>
      </div>
      <div class="stat-box">
        <div class="stat-title">AVERAGE TEMP.</div>
        <div class="stat-value">471°C</div>
      </div>
    </div>
  </main>
</body>
</html>